<form action="" method="post" accept-charset="utf-8">
    <h1>一、选择题</h1>
   {% for question_mutipleChoice, i in zip(questions_mutipleChoice, range(1, length_mutipleChoice+1)) %}
   {{i}}
   {{question_mutipleChoice.questionText}}</br>
   <input type="radio" value="{{question_mutipleChoice.mutipleChoice.choice1}}" name="1" id=""/>A. {{question_mutipleChoice.mutipleChoice.choice1}}
   <input type="radio" value="{{question_mutipleChoice.mutipleChoice.choice1}}" name="1" id=""/>B. {{question_mutipleChoice.mutipleChoice.choice2}}
   <input type="radio" value="{{question_mutipleChoice.mutipleChoice.choice1}}" name="1" id=""/>C. {{question_mutipleChoice.mutipleChoice.choice3}}
   <input type="radio" value="{{question_mutipleChoice.mutipleChoice.choice1}}" name="1" id=""/>D. {{question_mutipleChoice.mutipleChoice.choice4}}
       
   {% endfor %}
    
    <h1>一、填空题</h1>
   {% for question_fillInTheBlank, i in zip(questions_fillInTheBlank, range(1, length_fillInTheBlank+1)) %}
   {{i}}
   {{question_fillInTheBlank.questionText}}</br>
   <input type="text" name="1" id=""/></br>
       
   {% endfor %}
</form>
