{% extends "showClasses.html" %}


{% block tableHeadLineItem %}
    <td>班级所剩名额</td>
{% endblock %}


{% block tableItems %}
{% set num = classObject.studentCount-len(classObject.students) %}
<td>{{num}}</td>
{% endblock %}



{% block operation %}
{% if student in classObject.students %}
<a class="btn btn-primary" href="{{url_for('student.deleteFromClass', student_id=student_id, class_id=classObject.id)}}" >退出班级</a> 
<a class="btn btn-primary" href="{{url_for('student.showClassesInfo', student_id=student_id, class_id=classObject.id)}}" >查看班级任务</a>
<span class="text-success">
已在该教学班中 
</span>
{% else %}
<a class="btn btn-primary" href="{{url_for('student.addToClass', student_id=student_id, class_id=classObject.id)}}" >加入班级</a> 
<span class="text-danger">尚未加入该教学班</span>

{% endif %}

{% endblock %}




