{% extends "base.html" %}


{% block title %}
    addExampaper
{% endblock %}


{% block button %}
<a class="btn btn-primary" href="{{url_for("showQuestion", chapter_id=chapter_id)}}">返回添加题目</a>
{% endblock %}



{% block content %}
<section class="text-center">
    <div class="container">
       <form method="post" accept-charset="utf-8">
           {{form.hidden_tag()}}
           {{form.examPaperName.label(class="form-label")}}
           {{form.examPaperName()}}<br>
           {{form.examTag.label(class="form-label")}}
           {{form.examTag}}<br>
           {{form.submit}}
           
       </form> 
    </div>
</section>
<section>
    
</section>
<hr>    
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">试卷名称</th>
        <th scope="col">试卷描述</th>
        <th scope="col">相关操作</th>
      </tr>
    </thead>
    <tbody>
       {% if length %}
            {% for exampaper,i in zip(exampapers,range(1,length+1)) %}
                  <tr>
                    <td>{{i}}</td>
                    <td>{{exampaper.name}}</td>
                    <td>{{exampaper.tag}}</td>
                    <td>
                        {% block operation scoped %}
                            <a class="btn btn-primary" href="{{url_for('addQuestionToExamPaper', chapter_id=chapter_id, exampaper_id=exampaper.id)}}">添加题目</a>
                            <a class="btn btn-primary" href="{{url_for('examPaperDelete', exampaper_id=exampaper.id)}}">删除试卷</a>
                        {% endblock %}
                        
                    </td>
                  </tr>
            {% endfor %}
       {% endif %}
        
    </tbody>
</table>
{% endblock %}
