{% extends "base.html" %}
{% block title %}
addQuestion
{% endblock %}

{% block content %}
<h1>学科名</h1>
<h2>章节</h1>
<hr>
<form action="{{url_for('teacher.addQues', teacher_id=teacher_id)}}" method="post" style="text-align:center;">
    <div>
        <p>
            <select name="select" id="select">
                <option value="选择题" selected>选择题</option>
                <option value="填空题">填空题</option>
            </select>
        </p>
        
    </div>
    <div class="form-label">
        科目
    </div>
    <select  name="question_subject" id="subject" onchange="checkChapter()">
        {% if subjects %}
            {% for subject in subjects %}
            <option value="{{subject.id}}">{{subject.subjectName}}</option>
            {% endfor %}
        {% else %}
        <option value=" ">暂无科目</option>
        {% endif %}
        
    </select>
    <div class="form-label">
        章节
    </div>
    <select name="question_chapter"  id="chapter" >
        {% if subjects %}
            {% if chapters %}
            <option value="{{chapters.id}}">{{chapters.chapterName}}</option>
            {% else %}
                <option value=" ">暂无章节</option>
            {% endif %}
        {% else %}
        <option value=" ">暂无科目</option>
        {% endif %}
    </select>
    
    <div>
        题目描述
    </div>
    <input type="text" name="questionText" id="" value="" required>
    <div id="choice">
       <p>
       A </br>
       <input type="text" name="choice1" id="choice1" value="" >
       </p> 
       <p>
       B </br>
       <input type="text" name="choice2" id="choice2" value="" >
       </p>
       <p>
       C </br>
       <input type="text" name="choice3" id="choice3" value="" >
       </p>
       <p>
       D </br>
       <input type="text" name="choice4" id="choice4" value="" >
       </p>
    </div>
    <div>
        <p>
        答案 </br>
        <input type="text" name="answer" id="answer" value="" required>
        </p>
    </div>
    <div>
        <p>
            难度<br/>
            <input type="text" name="difficulty" id="difficulty" value="" required>
        </p>
    </div>
        <p>
        <button type="submit">提交</button>
        </p>
        
    </div>
    
    
   
    

</form>
<hr>
{% for qst in que %}
    <p>
        {{qst.questionText}}
    </p>
{% endfor %}
<script>
function createRequest()
{
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		//  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
		xmlhttp=new XMLHttpRequest();
	}
	else
	{
		// IE6, IE5 浏览器执行代码
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
    return xmlhttp;
}
    

    const subject = document.getElementById('subject')
    
function checkChapter(){
    request = createRequest()
    if (request == null){
        alert('Unable to create request');
    }else{
        const subject_value = document.getElementById('subject').value;
        request.onreadystatechange=addOption;
        console.log(subject_value);
        const url = "/teacher/{{teacher_id}}/returnChapter/"+subject_value;
        request.open("GET", url, true);
        request.send();
    }
}


function addOption(){
    if (request.readyState == 4){
        if(request.status == 200){
                const select = document.getElementById('chapter');
                var data = JSON.parse(request.responseText);
                const keys = [];
                const values = [];
                for(const key in data){
                   keys.push(key);
                   values.push(data[key]);
                   var content = data[key]['chapterName'];
                   var value = data[key]['id'];
                   if (content){
                        var optionObj = document.createElement("option");
                        optionObj.value = value;
                        optionObj.innerHTML = content;
                        while (select.firstChild) {
                          select.removeChild(select.firstChild);
                        }
                        select.appendChild(optionObj);
                   }else{
                        var optionObj = document.createElement("option");
                        optionObj.value = " ";
                        optionObj.innerHTML = "暂无章节";
                        while (select.firstChild) {
                          select.removeChild(select.firstChild);
                        }
                        select.appendChild(optionObj);
                   }
                }
        }
            else
            {
                alert("Something is wrong!");
            }

    }
}

    var select = document.getElementById("select");
    select.onclick=function(){
        var optionIndex = select.selectedIndex;
        var selected =  select.options[optionIndex].value;
        if (selected === "选择题")
            choice.style.display="block";
        else 
            choice.style.display="none";
    }
</script>
{% endblock %}

