{% extends "base.html" %}
{% block title %}
addSubject
{% endblock %}


{% block content %}
    <a class="btn btn-primary" href="{{url_for('teacher.teacherIndex', teacher_id=teacher_id)}}">添加班级</a>
<form action="" method="post">
    {{form.hidden_tag()}}
    <div>
        {{form.subject.label()}}
        {{form.subject}}<br/>
    </div>
    <div>
        {{form.submit}}
    </div>
</form>
<hr>
{% for items in subject %}
    <p>
    <a href="{{url_for('teacher.addChapter', subject_id=items.id, teacher_id=teacher_id)}}">{{items.subjectName}}</a>
    </p>
{% endfor %}
显示已添加学科
{% endblock %}
