{% extends "base.html" %}
{% block content %}
<section class="text-center">
 <hr>
    <div class="container mt-5">
        <div class="row mt-5 justify-content-center">
            <div class="col-md-4 rounded border-danger">
                            
<button id="startSubmit" class="btn btn-primary" onclick="generateQR()">开始答题</button>
<button id="endSubmit" class="btn btn-danger" onclick="loadXMLDoc()">结束答题</button>
<a class="btn btn-warning" href="{{url_for('teacher.deleteRecord', teacher_id=teacher_id)}}" >清除数据</a>
<img id="num" ></img>
<div id="main" style="width: 400px;height:400px;"></div>

            </div>
        </div>
    </div>
</section>
<script type='text/javascript'>

      var myChart = echarts.init(document.getElementById('main'),'dark');
function generateQR(){
        img = document.getElementById('num');
        img.src="{{qrcode(url_for('auth.questionAnswer', timestamp=timestamp))}}";


    }
function loadXMLDoc()
{
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		//  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
		xmlhttp=new XMLHttpRequest();
	}
	else
	{
		// IE6, IE5 浏览器执行代码
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
                data = JSON.parse(xmlhttp.responseText);
                const keys = [];
                const values = [];
                for(const key in data){
                   keys.push(key);
                   values.push(data[key]);
                    }
    const endSubmit = document.getElementById('endSubmit');
 // 基于准备好的dom，初始化echarts实例

var option = {
        title: {
          text: '学生答题情况统计'
        },
        tooltip: {},
        legend: {
          data: ['计数']
        },
        xAxis: {
          data: keys
        },
        yAxis: {},
        series: [
          {
            name: '计数',
            type: 'bar',
            data: values
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);


        }
	}
    xmlhttp.open("GET","/teacher/{{teacher_id}}/recordAnswer",true);
	xmlhttp.send();
}
    
</script>

{% endblock %}
