{% extends "base.html" %}

{% block content %}
<button>开始答题</button>
<button id="endSubmit">结束答题</button>
<img src="{{qrcode('wqewq')}}" alt=""/>
<div id="main" style="width: 600px;height:400px;"></div>

<script type='text/javascript'>
    const endSubmit = document.getElementById('endSubmit');
    endSubmit.onclick=function(){
 // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));

var option = {
        title: {
          text: 'ECharts Getting Started Example'
        },
        tooltip: {},
        legend: {
          data: ['sales']
        },
        xAxis: {
          data: ['Shirts', 'Cardigans', 'Chiffons', 'Pants', 'Heels', 'Socks']
        },
        yAxis: {},
        series: [
          {
            name: 'sales',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);


        }
    
</script>

{% endblock %}
