{% extends "base.html" %}
{% block title %}
addQuestion
{% endblock %}

{% block content %}
<h1>学科名</h1>
<h2>章节</h1>
<hr>
<form action="" method="post" novalidate style="text-align:center;">
    {{form.hidden_tag()}}
    <button >
        鼠标移动到上面就显示选择、填空、简答
    </button><br/>
    <div>
        <p>
            <select name="select" id="select">
                <option value="选择题" selected>选择题</option>
                <option value="填空题">填空题</option>
                <option value="简答题">简答题</option>
            </select>
        </p>
        
    </div>
    
    <div>
        {{form.questionText.label()}}<br/>
        {{form.questionText}}
    </div>
    <div id="choice">
       <p>
        {{form.choice1.label()}}<br/>
        {{form.choice1}}
       </p> 
       <p>
        {{form.choice2.label()}}<br/>
        {{form.choice2}}
       </p>
       <p>
        {{form.choice3.label()}}<br/>
        {{form.choice3}}
       </p>
       <p>
        {{form.choice4.label()}}<br/>
        {{form.choice4}}
       </p>
    </div>
    <div>
        <p>
            {{form.answer.label()}}<br/>
            {{form.answer}}
        </p>
    </div>
    <div>
        <p>
            {{form.difficulity.label()}}<br/>
            {{form.difficulity}}
        </p>
    </div>
    <div>
        <p>
            {{form.addTime.label()}}<br/>
            {{form.addTime}}
        </p>
        
    </div>
    <div>
        <p>
            {{form.addPerson.label()}}<br/>
            {{form.addPerson}}
        </p>
    </div>
    <div>
        <p>
            {{form.submit}}
        </p>
        
    </div>
    
    
   
    

</form>
<hr>
{% for qst in que %}
    <p>
        {{qst.questionText}}
    </p>
{% endfor %}
<script>

    var select = document.getElementById("select");
    select.onclick=function(){
        var optionIndex = select.selectedIndex;
        var selected =  select.options[optionIndex].value;
        if (selected === "选择题")
            choice.style.display="block";
        else 
            choice.style.display="none";
    }
</script>
{% endblock %}

