{% extends 'base.html' %}


{% block title %}
questionAnswer
{% endblock %}


{% block content %}
<section>
    <div class="container">
        <div class="row justify-content-center align-items-center", style="height:100vh">
            <div class="col-md-6 col-sm-6">
                 <form action="{{url_for('questionAnswer')}}", method="post">
                     {{form.hidden_tag()}}
                     <div class="container">
                         <div class="row justify-content-center">
                             <div class="col text-center mx-auto">
                                {% for choice in form.choice1 %}
                                    <div class="form-check form-check-inline">
                                        {{ choice(class="form-check-input") }}
                                        {{choice.label}} 
                                    </div>
                                {% endfor %}
                                {{form.submit(class="btn btn-primary d-flex mx-auto mt-4")}}
                             </div>
                         </div>
                     </div>
                     
                 </form>
            </div>
        </div>
    </div>
</section>
<style>
    ul{
    list-style-type: none;
}
</style>
{% endblock %}