{% extends "base.html" %}


<head>
{% block title %}
    showQuestion
{% endblock %}
    
</head>
{% block button %}
<div>
    <a class="btn btn-primary" href="{{url_for('addChapter', subject_id=subject_id)}}">返回章节</a>
</div>
<div>
    <a class="btn btn-primary my-4" href="{{url_for('addExamPaper', chapter_id=chapter_id)}}">添加试卷</a>
</div>
<a class="btn btn-primary" href="{{url_for('addQuestion', chapter_id=chapter_id)}}">添加题目</a>
{% endblock %}

{% block content %}

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">题目正文</th>
        <th scope="col">题目类型</th>
        <th scope="col">操作</th>
      </tr>
    </thead>
    <tbody>
       {% if length %}
            {% for question,i in zip(questions,range(1,length+1)) %}
                  <tr>
                    <td>{{i}}</td>
                    <td>{{question.questionText}}</td>
                    <td>{{question.type}}</td>
                    <td>
                        {% block operation scoped %}
                            <a href="{{url_for('questionDelete', question_id=question.id)}}">删除</a>
                        {% endblock %}
                        
                    </td>
                  </tr>
            {% endfor %}
       {% endif %}
        
    </tbody>
</table>
{% endblock %}
